.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.pageNavigation {
  color: var(--black-100);
  font-size: 14px;
  font-weight: 400;
}

.arrowLeft,
.arrowRight {
  border: 1px solid var(--gray-300);
  background: var(--white);
  width: 40px;
  height: 40px;
}

.arrowLeft {
  border-radius: 4px 0px 0px 4px;
}

.arrowRight {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

.arrowLeft:disabled,
.arrowRight:disabled {
  background: var(--white);
}
