.comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 216px;
  overflow-y: auto;
  scrollbar-width: none;
}

.empty {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: var(--gray-400);
}

@media screen and (min-width: 768px) {
  .comments {
    gap: 12px;
  }

  .buttonContainer {
    gap: 12px;
  }

  .button.button {
    font-size: 12px;
    line-height: 14px;
  }

  .empty {
    font-size: 14px;
    line-height: 24px;
  }
}
