.page {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 70px;
  background-color: inherit;
}

.logo {
  fill: white;
}

.nav {
  display: flex;
  gap: 36px;
}

.navLink {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.main {
  padding-top: 164px;
}

.seciton {
  max-width: 1200px;
  width: 100%;
}

.main,
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitleWrapper {
  display: flex;
  gap: 28px;
  align-items: center;
}

.homeImg {
  width: 722px;
  height: 423px;
}

.homeTitle {
  color: white;
  font-size: 76px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 2px;
}

.logoTypo {
  fill: var(--violet);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 140px;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-400);
}

.legalLinks {
  display: flex;
  gap: 32px;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 14px;
}

.socialLink:first-child {
  width: 20px;
  height: 20px;
}

.socialLink {
  width: 22px;
  height: 22px;
  fill: white;
}
