.page {
  background-color: black;
  color: white;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
  padding: 15px 80px;
  background-color: inherit;
}

.logo {
  fill: white;
}

.nav {
  display: flex;
  gap: 36px;
}

.navLink {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.main,
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding-top: 164px;
}

.section {
  width: 100%;
  max-width: 1200px;
}

.homeTitleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 110px;
  margin-top: 40px;
  gap: 28px;
}

.homeImg {
  width: 722px;
  height: 423px;
}

.homeTitle {
  font-size: 76px;
  font-weight: 700;
  color: white;
  line-height: 100px;
  letter-spacing: 2px;
}

.homeBrand {
  font-family: var(--font-montserrat);
  font-size: 90px;
  font-weight: 700;
  color: var(--violet);
  line-height: 65px;
  letter-spacing: 1px;
}

.homeLoginBtn {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  height: 54px;
  margin-bottom: 180px;
  padding: 9px 101px;
  border-radius: 8px;
  background: var(--violet);
}

.supplementTitle {
  margin-bottom: 36px;
  font-size: 28px;
  font-weight: 700;
}

.cardSmalls {
  display: flex;
  gap: 33px;
}

.cardLg1 {
  width: 594px;
  height: 498px;
}

.cardLg2 {
  width: 436px;
  height: 502px;
}

.cardSm1 {
  width: 300px;
  height: 124px;
}

.cardSm2 {
  width: 300px;
  height: 231px;
}

.cardSm3 {
  width: 300px;
  height: 195px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 140px;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-400);
}

.legalLinks {
  display: flex;
  gap: 32px;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 14px;
}

.socialLink:first-child {
  width: 20px;
  height: 20px;
}

.socialLink {
  width: 22px;
  height: 22px;
  fill: white;
}
