.avatarWrapper {
  display: flex;
  align-items: center;
  gap: 0;
  transform: translateX(5px);
}

.avatar,
.avatarNumber {
  margin-left: -12px;
}

.avatarNumber.avatarNumber {
  color: #d25b68;
  background: #f4d7da;
}

@media screen and (min-width: 768px) {
  .avatarWrapper {
    transform: none;
  }
}
