.header {
  padding: 16px;
  border-bottom: 1px solid var(--gray-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
}

.title {
  flex: 1;
  color: var(--black-100);
  font-size: 15px;
  font-weight: 700;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.button.button {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  color: var(--gray-500);
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.button.button:hover {
  background-color: var(--violet-light);
}

.icon {
  display: none;
}

.userInfoContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.userInfoContainer::before {
  content: '';
  border: 0.5px solid var(--gray-300);
  height: 34px;
}

.userInfoButton.userInfoButton {
  margin-left: 16px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.myMenu {
  position: absolute;
  top: 75px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 40px;
    padding-right: 30px;
    gap: 36px;
  }

  .title {
    font-size: 20px;
  }

  .buttonContainer {
    gap: 16px;
  }

  .button {
    padding: 10px 16px;
    font-size: 16px;
  }

  .icon {
    display: block;
  }

  .userInfoWrapper {
    margin-left: 36px;
  }

  .myMenu {
    top: 60px;
  }
}

@media screen and (min-width: 1199px) {
  .header {
    padding-right: 80px;
  }
}
