.image {
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nickname {
  color: var(--black-100);
  font-size: 16px;
  font-weight: 500;
  display: none;
}

@media screen and (min-width: 768px) {
  .nickname {
    display: inline;
  }
}
