.button {
  width: 100%;
  background-color: var(--violet);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: var(--white);
}

.button:disabled {
  background-color: var(--gray-400);
  cursor: auto;
}
