.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black-100);
  margin-bottom: 5px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: var(--gray-200);
  cursor: pointer;
  position: relative;
}

.iconContainer.iconContainer {
  position: relative;
  width: 20px;
  height: 20px;
}

.input {
  display: none;
}

.image {
  border-radius: 8px;
}

.hoverContent {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.wrapper:hover .image {
  filter: brightness(50%);
  transition: filter 0.3s ease-in-out;
}

.wrapper:hover .hoverContent {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 18px;
    line-height: 26px;
  }

  .wrapper {
    width: 182px;
    height: 182px;
  }

  .imageContainer {
    width: 30px;
    height: 30px;
  }
}
