.menuDropdown {
  border-radius: 6px;
  border: 1px solid var(--gray-300);
  background: var(--white);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  border-radius: 4px;
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
  white-space: nowrap;
  padding: 5px 16px;
}

.button:hover {
  background-color: var(--violet-light);
  color: var(--violet);
}
