.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: transparent;
}

.active {
  color: salmon;
}

@media screen and (min-width: 768px) {
  .sideBar {
    min-width: 155px;
  }
}
