.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black-100);
}

@media screen and (min-width: 768px) {
  .container label {
    font-size: 18px;
    line-height: 26px;
  }
}
