.container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
}

.toast {
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
}

.toast.dark {
  background-color: var(--black-100);
  color: var(--white);
}

.toast.light {
  background-color: var(--white);
  color: var(--black-100);
}

.toast span {
  display: block;
}

.button.button {
  background-color: transparent;
  width: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

.dark .icon path {
  stroke: var(--white);
}

.light .icon path {
  stroke: var(--black-100);
}

.toast.fadeIn {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.3s forwards ease;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast.fadeOut {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOut 0.3s forwards ease;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.progressBar {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 5px;
  bottom: 0;
  left: 0;
}

.info .progressBar {
  background: var(--blue);
}

.success .progressBar {
  background: var(--green);
}

.error .progressBar {
  background: var(--red);
}

.warning .progressBar {
  background: var(--orange);
}

.animate {
  animation: progress linear forwards;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
