.dashboardView {
  display: flex;
  min-height: 100%;
  background-color: var(--gray-100);
}

.createColumnSection {
  padding: 20px;
}

.createColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 354px;
  height: 70px;
  border: 1px solid var(--gray-300);
  background: var(--white);
  font-size: 18px;
  font-weight: 700;
  color: var(--black-100);
  line-height: 26px;
  gap: 12px;
  border-radius: 8px;
  margin-top: 48px;
}

.createColumnIcon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 4px;
  background: var(--violet-light);
}
