.dashboardView {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--gray-100);
  position: relative;
}

.createColumnSection {
  min-width: 284px;
  padding: 16px 12px;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--gray-100);
}

.createColumn.createColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  border: 1px solid var(--gray-300);
  background: var(--white);
  font-size: 18px;
  font-weight: 700;
  color: var(--black-100);
  line-height: 26px;
  gap: 12px;
  border-radius: 8px;
}

.createColumnIcon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 4px;
  background: var(--violet-light);
}

@media screen and (min-width: 768px) {
  .createColumnSection {
    padding: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .dashboardView {
    flex-direction: row;
  }

  .createColumn.createColumn {
    width: 354px;
  }
}
