.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 100%;
  overflow-y: auto;
}

.sideBar::-webkit-scrollbar {
  width: 0;
}

.logo.logo {
  background-color: transparent;
  padding-top: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.createDashboardContainer {
  padding: 0 22px;
}

.createDashboardTitle {
  display: none;
}

.addButton.addButton {
  background-color: transparent;
  width: 20px;
}

@media screen and (min-width: 768px) {
  .sideBar {
    min-width: 155px;
    padding: 0 12px;
  }

  .logo {
    text-align: left;
    margin-bottom: 25px;
  }

  .createDashboardContainer {
    width: 100%;
    padding: 0;
  }

  .createDashboardTitle {
    display: inline;
    color: var(--gray-500);
    font-size: 12px;
    font-weight: 600;
  }

  .addButton.addButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1199px) {
  .sideBar {
    min-width: 300px;
  }
}
