.card {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid var(--gray-300);
  background: var(--white);
  margin-bottom: 20px;
  height: 150px;
}

.card.dragging {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 680px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 730px;
  }
}
