.card {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid var(--gray-300);
  background: var(--white);
  margin-bottom: 20px;
}

.card.dragging {
  margin: 0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  margin: auto;
}

.imageWrapper {
  position: relative;
  width: 280px;
  height: 150px;
  margin-bottom: 4px;
}

.imageWrapper img {
  border-radius: 6px;
  object-fit: cover;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.optionalInfo {
  display: flex;
  justify-content: space-between;
}

.dueDateWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icon path {
  fill: var(--gray-500);
}

.dueDate {
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 500;
}

.avatar.avatar {
  width: 22px;
  height: 22px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 680px;
  }

  .cardContainer {
    flex-direction: row;
    gap: 22px;
  }

  .cardInfo {
    flex: 1;
    gap: 10px;
  }

  .contentContainer {
    flex-direction: row;
    gap: 12px;
  }

  .imageWrapper {
    width: 90px;
    height: 57px;
    margin-bottom: 0;
  }

  .title {
    font-size: 16px;
    line-height: 26px;
  }

  .optionalInfo {
    flex: 1;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 730px;
  }

  .cardContainer {
    flex-direction: column;
    gap: 0;
  }

  .imageWrapper {
    width: 280px;
    height: 160px;
  }

  .imageWrapper {
    margin-bottom: 15px;
  }

  .contentContainer {
    flex-direction: column;
  }
}
