.card {
  padding: 12px 12px 5px 12px;
  border-radius: 6px;
  border: 1px solid var(--gray-300);
  background: var(--white);
  margin-bottom: 24px;
  min-width: 284px;
  width: auto;
  height: auto;
}

.card.dragging {
  margin: 0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  margin: auto;
}

.imageWrapper {
  position: relative;
  width: 260px;
  height: 121px;
  margin-bottom: 4px;
}

.imageWrapper img {
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tagContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.imageContainer:empty {
  display: none;
}

.optionalInfo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dueDateWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 125px;
}

.icon path {
  fill: var(--gray-500);
}

.dueDate {
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 500;
}

.avatar.avatar {
  width: 22px;
  height: 22px;
  font-size: 12px;
  padding-bottom: 2.5px;
}

@media screen and (min-width: 768px) {
  .card {
    padding: 16px 20px;
    margin-bottom: 16px;
  }

  .modal {
    width: 680px;
  }

  .cardContainer {
    flex-direction: row;
    gap: 22px;
  }

  .cardInfo {
    flex: 1;
    gap: 10px;
  }

  .contentContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .imageWrapper {
    width: 91px;
    height: 53px;
    margin-bottom: 0;
  }

  .title {
    font-size: 16px;
    line-height: 26px;
  }

  .optionalInfo {
    gap: 16px;
  }

  .dueDateWrapper {
    justify-content: flex-end;
  }

  .modal {
    width: 680px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    height: auto;
    min-width: 312px;
  }

  .modal {
    width: 730px;
  }

  .cardContainer {
    flex-direction: column;
    gap: 0;
  }

  .tagContainer {
    max-width: none;
  }

  .imageWrapper {
    width: 274px;
    height: 160px;
    margin-bottom: 15px;
  }

  .contentContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .optionalInfo {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  .dueDateWrapper {
    justify-content: flex-start;
  }
}
