.modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 28px 20px 20px;
}

.modal h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black-100);
}

.image.image {
  width: 76px;
  height: 76px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.footer button {
  padding: 9px 0;
}

.cancel.cancel {
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  color: var(--gray-500);
}

@media screen and (min-width: 768px) {
  .modal {
    gap: 32px;
    padding: 32px;
  }

  .footer {
    font-size: 16px;
    line-height: 26px;
    gap: 8px;
  }

  .footer button {
    padding: 14px 0;
  }
}
