.headerMenu {
  display: flex;
  align-items: center;
  margin-right: 16px;
  position: relative;
}

.moreButton {
  display: inline-flex;
  align-items: center;
}

.moreButton:focus {
  outline: none;
}

.menuContainer {
  position: absolute;
  z-index: 999;
  top: 40px;
  right: 0;
}
