.layout {
  background-color: var(--gray-100);
  padding: 16px 12px;
}

.button.button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black-100);
  width: auto;
  margin-bottom: 29px;
}

@media screen and (min-width: 768px) {
  .layout {
    padding: 16px;
  }

  .button.button {
    font-size: 16px;
    line-height: 26px;
  }
  .button img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .layout {
    padding: 20px;
  }
}
